
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>MVC KAMP TABLO ÖRNEĞİ</h3>
<br />
<table class=" table table-bordered"
<table>
    <tr>
        <th>Kategori ID</th>
        <th>ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>

    </tr>
    <tr>
        <td>1</td>
        <td>EĞİTİM</td>
        <td>AÇIKLAMA YAPTIK</td>
        <td>TRUE</td>
    </tr>

</table>
<button class="btn btn-info"Yeni kategori</button>
<br />
<button class="btn btn-warning">Kategori Listesi</button>